# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Your code here
data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
data
data.shape

In [ ]:
data.columns

In [ ]:
#Column names should be in lower case
data.columns = data.columns.str.lower()
data.columns

In [ ]:
#White spaces in column names should be replaced by _
data.columns = data.columns.str.replace(' ','_')
data.columns

In [ ]:
data = data.drop_duplicates()
data

In [ ]:
#st could be replaced for state
data = data.rename(columns={"st":"state"})
data

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
# Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, 
# for example, to "M" and "F".
display(data)

In [ ]:
data.value_counts('gender')

In [ ]:
state_mapping = {
    'Male': 'M',
    'female': 'F',
    'Femal': 'F',

}

data['gender'] = data['gender'].replace(state_mapping)
data['gender']
data.value_counts('gender')

In [ ]:
#State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
data.value_counts('state')

In [ ]:
state_mapping = {
    'Cali': 'California',
    'WA': 'Washington',
    'AZ': 'Arizona',
}

data['state'] = data['state'].replace(state_mapping)
#data.value_counts('state')

In [ ]:
data.state.value_counts()

In [ ]:
#In education, "Bachelors" could be replaced by "Bachelor"
data.education =np.where(data.education == 'Bachelors', 'Bachelor', data.education)
data.education

In [ ]:
data.education.value_counts()

In [ ]:
#In Customer Lifetime Value, delete the % character
data['customer_lifetime_value'] = data['customer_lifetime_value'].str.replace('%', '', regex=True).astype(float) / 100
data['customer_lifetime_value']

In [ ]:
#In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
vehicle_class_mapping = {'Sports Car': 'Luxury', "Luxury SUV":"Luxury", "Luxury Car":"Luxury"}
vehicle_class_mapping

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
# Customer lifetime value should be numeric
data.dtypes

In [ ]:
data['customer_lifetime_value'] = pd.to_numeric(data['customer_lifetime_value'], errors='coerce')

In [ ]:
data.dtypes

In [ ]:
#Number of open complaints has an incorrect format. Look at the different values it takes with unique()
#and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can
#use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its
#proper type

In [ ]:
#Renaming the complaints and replacing them
complaints_rename = ({'1/0/00':'0', '1/2/00':'2', '1/1/00':'1', '1/3/00':'3', '1/5/00':'5','1/4/00':'4'})
data['number_of_open_complaints'] = data['number_of_open_complaints'].replace(complaints_rename)
# Checking the results
data['number_of_open_complaints'].unique()
data

In [ ]:
#data = data.applymap(lambda x: int(x) if isinstance(x, (int, float)) else x)
#data.dtypes

In [ ]:
data['number_of_open_complaints'] = pd.to_numeric(data['number_of_open_complaints'], errors = 'coerce')

In [ ]:
data.dtypes

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using `applymap()`.

In [ ]:
# Drop the rows or columns with null values
columns_with_nulls = data.columns[data.isnull().any()]
columns_with_nulls

In [ ]:
null_counts = data[columns_with_nulls].isnull().sum()
null_counts

In [ ]:
numeric_columns = data.select_dtypes(include=['number']).columns
numeric_columns
categorical_columns = data.select_dtypes(include=['object']).columns
categorical_columns

In [ ]:
data[numeric_columns] = data[numeric_columns].fillna(data[numeric_columns].mean())
data[categorical_columns] = data[categorical_columns].fillna(data[categorical_columns].mode().iloc[0])
data[categorical_columns]

In [ ]:
remaining_nulls = data.isnull().sum().sum()
remaining_nulls

In [ ]:
data[numeric_columns] = data[numeric_columns].applymap(int)
data[numeric_columns]

In [ ]:
#The strategy includes filling missing values with the mean for numeric columns and the mode for categorical columns
#Verify the success of the strategy by checking for remaining null values
#Converting numeric variables to integers is done to ensure data consistency

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Dropping all duplicate rows
duplicate_rows = data.duplicated()
duplicate_rows

In [ ]:
#Keeping only the first occurrence of each duplicated row
cleaned_data = data.drop_duplicates(keep='first')
cleaned_data

In [ ]:
#Keeping only the last occurrence of each duplicated row
cleaned_data = data.drop_duplicates(keep='last')
cleaned_data

In [ ]:
#Dropping duplicates based on a subset of columns
cleaned_data_subset = data.drop_duplicates(subset=['customer', 'state'],keep='first')
cleaned_data_subset
verify_duplicates_subset = cleaned_data_subset.duplicated(subset=['customer', 'state'])
verify_duplicates_subset

In [ ]:
#Dropping duplicates based on a specific column
cleaned_data_specific = data.drop_duplicates(subset=['education'],keep='first')
cleaned_data_specific
verify_duplicates_specific = cleaned_data_specific.duplicated(subset=['customer'])
verify_duplicates_specific

In [ ]:
#Save the cleaned dataset to a new CSV file.
cleaned_data_subset.to_csv('cleaned_data_subset.csv', index=False)
cleaned_data_specific.to_csv('cleaned_data_specific.csv', index=False)

In [ ]:
#Reset the index to ensure consistency.
cleaned_data_subset.reset_index(drop=True, inplace=True)
cleaned_data_specific.reset_index(drop=True, inplace=True)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
def handle_missing_values(data):
    columns_with_null = data.columns[data.isnull().any()]
    numeric_columns = data.select_dtypes(include=['number']).columns
    data[numeric_columns] = data[numeric_columns].fill(data[numeric_columns].mean())
    
    categorical_columns = data.selectstypes(include=['object']).columns
    data[categorical_columns] = data[categorical_columns].fillna(data[categorical_columns].mode().iloc[0])
    return data

In [ ]:
def convert_numeric_to_integers(data):
    numeric_columns = data.select_dtypes(include=['number']).columns
    data[numeric_columns] = data[numeric_columns].applymap(int)
    return data

In [ ]:
def data_cleaning(data):
    data = handle_missing_values(data)
    data = convert_numeric_to_integer(data)
    
    return data

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here

# EDA (Exploratory Data Analysis) - Complete the following tasks to explore the data:

Show DataFrame info.

Describe DataFrame.

Show a plot of the Gender breakdown.

Show a plot of Income by State.

Show a plot of the Policy Type by the Total Claim Amount.

Show a plot of the Education by Vehicle Class.

What insights can you establish from these plots?

What other plots do you feel would be beneficial?

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Show DataFrame info.
data.info()

In [ ]:
data.head()

In [ ]:
#Describe DataFrame.
data.describe()

In [ ]:
#Show a plot of the Gender breakdown.
sns.countplot(x='gender', data=data)

In [ ]:
#Ther are more Femanle clients than Male clients

In [ ]:
#Show a plot of Income by State.
plt.figure(figsize=(12,6))
plt.title("Income by State")
sns.barplot(x= 'state', y='income', data=data)
plt.show()

In [ ]:
#Income by State Boxplot: Allows to observe the destribution of income across diferent states. #The clients in Washington State have the highest income, the other states have a similar income

In [ ]:
#Show a plot of the Policy Type by the Total Claim Amount.
plt.title("Total Claim Amount by Policy Type")
sns.barplot(x="policy_type", y="total_claim_amount", data=data)
plt.show()

In [ ]:
#the corporate_alto has a slightly higher total_claim_amount than the others

In [ ]:
#Show a plot of the Education by Vehicle Class.
plt.figure(figsize=(12, 6))
sns.countplot(x="education", hue="vehicle_class", data=data)
plt.show()
#or
g = sns.histplot(x='education', hue='vehicle_class', data=data, stat='count', multiple='stack')
plt.setp(g.get_xticklabels(), rotation=45)

In [ ]:
#What insights can you establish from these plots?
#What other plots do you feel would be beneficial?
#A plto to compare education with the state, and a plot to compare income with education
#Most luxury cars are owned with the lowest education (high school or below and college). People with higher education have mostly four-door cars

# Lab Day 4-

Check the data types of the columns. Get the numeric data into a dataframe called numerical and categorical columns in a dataframe called categorical. 
(You can use np.number and object to select the numerical data types and categorical data types respectively)

Now we will try to check the normality of the numerical variables visually

Use seaborn library to construct distribution plots for the numerical variables

Use Matplotlib to construct histograms

Do the distributions for different numerical variables look like a normal distribution?

For the numerical variables, check the multicollinearity between the features. Please note that we will use the column total_claim_amount later as the target variable.

Drop one of the two features that show a high correlation between them (greater than 0.9). Write code for both the correlation matrix and for seaborn heatmap. 
If there is no pair of features that have a high correlation, then do not drop any features

In [ ]:
import numpy as np

In [ ]:
data.dtypes

In [ ]:
numerical = data.select_dtypes(include=[np.number])
categorical = data.select_dtypes(include=[object])

In [ ]:
#Use seaborn library to construct distribution plots for the numerical variables
for column in numerical.columns:
    sns.histplot(data=numerical, x=column, kde=True)
    plt.show()

In [ ]:
#Use Matplotlib to construct histograms
for column in numerical.columns:
    plt.hist(numerical[column], bins=20)
    plt.show()

In [ ]:
#Do the distributions for different numerical variables look like a normal distribution?
#No, none of the graphs have a normal distribution shape

In [ ]:
#For the numerical variables, check the multicollinearity between the features.
#Please note that we will use the column total_claim_amount later as the target variable.
correlation_matrix = numerical.corr()
correlation_matrix

In [ ]:
sns.heatmap(correlation_matrix, annot=True)
plt.show()

# Lab | Customer Analysis Round 5
X-y split.

Scaling (numerical).

In [ ]:
X = numerical.drop(['total_claim_amount'], axis=1)
y= numerical['total_claim_amount']
X

In [ ]:
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import StandardScaler

In [ ]:
transformer = MinMaxScaler().fit(X)
x_normalized = transformer.transform(X)
print(x_normalized.shape)
x_normalized
pd.DataFrame(x_normalized, columns=X.columns)

# Lab | Customer Analysis Round 6

- One Hot/Label Encoding (categorical).
- Concat DataFrames

Linear Regression

-Train-test split.
-Apply linear regression.

Model Validation

-Description:
R2.
MSE.
RMSE.
MAE.

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
categorical = data.select_dtypes(include=[object])
categorical

In [ ]:
categorical = categorical.drop(['customer'], axis=1)
categorical.head()

In [ ]:
encoder = OneHotEncoder(drop='first').fit(categorical)
cols = encoder.get_feature_names_out(input_features=categorical.columns)

X_cat_encoder = pd.DataFrame(encoder.transform(categorical).toarray(),columns=cols)
X_cat_encoder.head()

In [ ]:
# we use the OneHotEncoder to transform categorical data into a binary format
# we can use the (drop='first') it takes away a column

In [ ]:
# Concat DataFrames

In [ ]:
data_encoded = pd.concat([data.drop(categorical_columns, axis=1), X_cat_encoder], axis=1)
data_encoded.head()
#we concatonate the values into a single dataset with all features

In [ ]:
#Train-test split.
y= numerical['total_claim_amount']
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
#Apply linear regression.
from sklearn import linear_model
X_train.head()

In [ ]:
y_train.head()

In [ ]:
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train)
r2_score(y_train, predictions)
#this is our "cheating" score

In [ ]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)
#this is the score that we want, because the score from the train data was already seen by the model)
#by comparing both of the values We can see that our prediction model is not predicting correctly. The value of our test value is much higher than the value of the predicted model

In [ ]:
y_test[:5]

In [ ]:
predictions_test[:5]

In [ ]:
#we can see that (for exemple) onde test value was 508 and our prediction showed 357.49, which is quite far from the real value

In [ ]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,predictions_test)
mse

In [ ]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predictions_test)
print(mae)
#is another metric to measure the average magnitude of errors like in a regression model
#is less sensitive to outliers compared to mse and rmse
#a lower mae indicates that the model's predictions are closer to the actual values, meaning it has better accurancy
#our model's prediction are, on average, 170.93 units away fram the the true value

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
rmse
#measures the average magnituude of the errors in a regression model
#our model on average is 229.88 away from the correct value

In [ ]:
y_test.mean()

# Lab | Customer Analysis Round 7
-For this lab, we will continue using the .csv file and the Jupyter notebook that you have been using all week.

-Remember the previous rounds. Follow the steps as shown in previous lectures and try to improve the accuracy of the model. Include both categorical columns in the exercise. Some approaches you can try in this exercise:

- use the concept of multicollinearity and remove insignificant variables

- use a different method of scaling the numerical variables

- use a different ratio of train test split

- use the transformation on numerical columns which align it more towards a normal distribution

In [ ]:
correlation_matrix2 = data.corr()
sns.heatmap(correlation_matrix2, annot=True)

In [ ]:
#In this heatmap we can observe the correlations between all variables. Areas with more intense colors indicate stronger correlations. If we identify variables with high correlation we can remove them to reduce the multicollinearity
#In this heatmap we cannot see a strong correlation so we will not dropp any variable
#By dopping highly correlated variables, we can achieve better model stability

In [ ]:
#Use a different method of scaling the numerical variables
Standardtransformer = StandardScaler().fit(numerical)
X_standardized = Standardtransformer.transform(numerical)
print(X_standardized.shape)
X_standardized = pd.DataFrame(X_standardized,columns=numerical.columns)
X_standardized.head()
X_standardized.describe().T

In [ ]:
data_encoded = pd.concat([data.drop(categorical_columns, axis=1), X_cat_encoder], axis=1)
data_encoded.head()

In [ ]:
y= numerical['total_claim_amount']
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
X_train.head()

In [ ]:
y_train.head()

In [ ]:
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

In [ ]:
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

In [ ]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)
#R2 measures the proportion of the variance in the dependent variable
#It ranges from 0 to 1, a higher R2 value indicates that the model fits the data better. This model is closer to 0 than 1, so its not a good model

In [ ]:
y_test[:5]

In [ ]:
predictions_test[:5]

In [ ]:
# In this heatmap we cannot see a strong correlation so we didn't dropp any variable the r2, mse, rmse and mae values are the same
#If we had a highly correlated variable (positive or negative) in the heatmap we would drop it and the  r2, mse, rmse and mae values would be better

In [ ]:
#use the transformation on numerical columns which align it more towards a normal distribution
#from scipy import stats
#data[] = stats.boxcox(data[][0])